<!-- show all the  items in the database -->
<!-- if the user is admin also show delete button for each item-->

<!DOCTYPE html>
<html>
  <head>
    <title>Team 11 Project</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>SkinNirvana</h1>
    <p>Welcome to skincare shopping</p>
  </body>
</html>
